@model IEnumerable<GroupProjectDeployment.Models.ShoppingCartViewModel>

@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                product
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                user
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td> 
                @using (Html.BeginForm("RemoveCartItem", "ShoppingCarts", 
                        new { cartId = @item.CartId, productId = item.productId }))
                        {
                            <input type="submit" value="Remove Item" class="btn btn-danger" />
                        }

            </td>
        </tr>
}


    </tbody>
</table>

@if(Model.Count() > 0)
{
    <a asp-controller="Checkout" asp-action="Index" asp-route-id="@Model.ToList()[0].CartId">Go to Checkout</a>
}
