@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@model IEnumerable<GroupProjectDeployment.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the GROUP 3 STORE.</h1>
    <p></p>
</div>

<div class="container">
    @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
    {
        <div class="alert alert-
       <strong>Error!</strong> danger">@ViewData.ModelState["Error"].Errors.First().ErrorMessage
        </div>
    }

    <div class="row">
        @foreach (var product in Model)
        {


            <div class="card" style="width: 18rem; margin: 2rem;">
                <a href="/Products/Details/@product.Id" class="product-card">
                    <img class="card-img-top" src="img/products/@product.ImageUrl.ToString()" alt="Card image cap" width="250">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <p>Price: $@product.Price.ToString()</p>
                        <p>Quantity @product.quantity.ToString()</p>


                        @using (Html.BeginForm("AddToCart", "ShoppingCarts", 
                        new { productId = @product.Id, userName = @User.Identity?.Name }))
                        {
                            <input type="submit" value="AddToCart" class="btn btn-primary" />
                        }

                    </div>
                </a>
            </div>



        }

    </div>
</div>