@model GroupProjectDeployment.Models.ProductReviewViewModel
@using System.Security.Claims
@using GroupProjectDeployment.Models

@{
    ViewData["Title"] = Model.Product.Name;
    var email = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value;
    var username = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value;
}


<div class="container text-center">
    <h1>@Model.Product.Name</h1>
    <img src="/img/products/@Model.Product.ImageUrl" width="500" />
    <div class="text">
        <span class="price"><b>Price:</b> @Model.Product.Price</span>
        <span class="quantity"><b>Quantity:</b> @Model.Product.quantity</span>
        <p class="description">@Model.Product.Description</p>
    </div>
</div>
    
<a href="#" class="btn btn-primary purchase-button">Add to cart</a>

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
 <div id="review-form">
    <form asp-controller="Reviews" asp-action="Create" target="_self" enctype="application/x-www-form-urlencoded">
        @Html.AntiForgeryToken()
        <div asp-asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="NewReview.StarAmount" class="control-label" name="StarAmount"></label>
            <input asp-for="NewReview.StarAmount" class="form-control" />
            <span asp-validation-for="NewReview.StarAmount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewReview.ReviewText" class="control-label" name="NewReview.ReviewText"></label>
            <textarea asp-for="NewReview.ReviewText" class="form-control"></textarea>
            <span asp-validation-for="NewReview.ReviewText" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="NewReview.ProductId" value="@Model.Product.Id" name="NewReview.ProductId" />
        <input type="hidden" asp-for="NewReview.Email" value="@email" name="NewReview.Email" />
        <input type="hidden" asp-for="NewReview.Username" value="@username" name="NewReview.Username" />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Post Review" />
        </div>
    </form>
    </div>
} else
{
    <div>
    <a href="/Identity/Account/Login">Log in to leave a review!</a>
    </div>
}  
<h5>Reviews</h5>
@if(Model.Product.Reviews != null && Model.Product.Reviews.Count > 0){
    <div class="user-reviews">
        <ul>   
        @foreach(var review in Model.Product.Reviews)
        {
            <li>Review from @review.Username: @review.ReviewText</li>
            @if(review.Email == email)
            {
                <a asp-controller="Reviews" asp-action="Delete/@review.Id" class="btn btn-danger" >Delete Review</a>
            }
        }
        </ul>
    </div>

} else
{
       <p>Be the first to leave a review!</p> 
}



<div>
    <a asp-action="Edit" asp-route-id="@Model?.Product.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
